/* styles.css */

:root {
    --font-fallback: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    --font-body: 'Open Sans', var(--font-fallback);
    --font-mono: 'IBM Plex Mono', Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
      'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
      
    --color-white: #fff;
    --color-black: #121212;
    --color-gray-1: #363636;
    --color-gray-2: #888888;
    --color-gray-3: #CCCCCC;
    --color-gray-4: #F5F5F5;
    --color-blue: #5367FF;
    --color-blue-light: #98A4FF;
    --color-green: #17c083;
    --color-orange: #ff5d01;
    --color-purple: #9669c6;
    --color-red: #ff1639;
    --color-yellow: #ffbe2d;
  
    --theme-bg: var(--color-black);
    --theme-text: var(--color-gray-4);
    --theme-accent: var(--color-blue);
    --theme-accent-light: var(--color-blue-light);
    --theme-text-light: var(--color-gray-3);
    --theme-divider: var(--color-gray-900);
    --theme-code-inline-bg: var(--color-gray-800);
    --theme-code-bg: var(--color-gray-900);
    --theme-code-text: var(--color-gray-3);
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: var(--font-body);
    background-color: var(--theme-bg);
    color: var(--theme-text);
    font-size: 1.125rem;
    font-size: clamp(0.875rem, 0.4626rem + 1.0309vw, 1.125rem);
    line-height: 1.625;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  h1, h2 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.25rem;
  }
  
  h1 {
    font-size: 3rem; /* 48px */
    line-height: 4.5rem; /* 72px */
  }
  
  h2 {
    font-size: 2rem; /* 32px */
    line-height: 3rem; /* 48px */
  }
  
  h3 {
    font-size: 1.325rem; /* 16px */
    line-height: 2rem; /* 36px */
    margin-top: 0.125rem; /* 2px for consistent rhythm */
  }
  
  small {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
  }
  
  p, li, table, select {
    font-size: 1.125rem; /* 16px */
    line-height: 1.5rem; /* 24px */
    margin-top: 0.5rem; /* 8px */
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    color: var(--theme-accent);
  }
  
  header {
    background-color: var(--theme-bg);
    padding: 2rem 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  
  header p {
    font-size: 1.1rem;
    color: #777;
  }
  
  main {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr minmax(0, 100%) 1fr;
    gap: 1em;
  }
  
  footer {
    padding: 2rem;
    background-color: var(--theme-bg);
    color: var(--color-white);
    text-align: center;
  }
  
  footer .footer-links a {
    color: var(--color-white);
    text-decoration: none;
    margin: 0 10px;
  }
  
  footer .footer-links a:hover {
    color: var(--theme-accent);
  }
  
  footer .social-icons a {
    color: var(--color-white);
    margin: 0 12px;
    font-size: 24px;
  }
  
  footer .social-icons a:hover {
    color: var(--theme-accent);
  }
  
  /* Supporting Content */
  code:not([class*='language']) {
    font-family: var(--font-mono);
    font-size: 0.85em;
    color: inherit;
    background-color: var(--theme-code-inline-bg);
    padding: 0.2rem 0.33rem;
    margin: calc(0.2rem * -1) -0.125em;
    border-radius: 3px;
  }
  
  pre > code:not([class*='language']) {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-radius: 0;
    color: inherit;
  }
  
  pre {
    background-color: var(--theme-code-bg);
    color: var(--theme-code-text);
    padding: 1rem 2rem;
    line-height: 1.414;
    margin-left: calc(50vw - 2rem);
    transform: translateX(-50vw);
    width: calc(100vw + 4rem);
    overflow-x: auto;
  }
  
  blockquote {
    font-size: 1.5rem;
    padding: 1rem 1.25rem;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    border-left: 1px solid var(--theme-divider);
    background: transparent;
  }
  
  blockquote .source {
    font-weight: 500;
    color: var(--theme-divider);
    font-size: 1rem;
  }
  
  img.cover {
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  @media (min-width: 37.75em) {
    pre {
      padding-inline: 1.25rem;
      border-radius: 8px;
    }
  }
  
  